*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --cor01: #1c1c1c;
    --cor02: #2ccb69;
    --cor03: #bcbcbc;
}


@media screen and (min-width: 320px){
    
    .jl-page-wrapper{
        width: 100%;
        height: 100vh;
        display: block;
        background-color: var(--cor01);
        border: 30px solid #000;
    }

    .jl-topbar{
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
    }

    .jl-logo{
        width: 74px;
        height: 110px;
        float: left;
        margin-left: 60px;
        background-color: var(--cor02);
        border-radius: 0 0 37px 0;
    }

    .jl-logo img{
        width: 46px;
        height: 31px;
        display: block;
        margin: 55px auto 0;
    }

    .jl-menu{
        display: none;
    }
}

@media screen and (min-width: 576px)  {
    
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 992px){
    
    .jl-menu{
        display: table;
        float: left;
        margin-left: 30px;
    }

    .jl-menu a{
        font-family: 'Open Sans';
        font-size: 16px;
        color: var(--cor03);
        text-decoration: none;
        text-transform: lowercase;
        display: inline-block;
        margin: 50px 20px 0 20px;
        font-weight: 400;
        position: relative;
    }

    .jl-menu a:first-child{
        margin-left: 0;
    }

    .jl-menu a:hover{
        color: var(--cor02);
    }

    .jl-menu a:before{
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--cor02);
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media screen and (min-width: 1200px){
    
}

@media screen and (min-width: 1364px){
    
}

@media screen and (min-width: 1600px){
    
}